<div class="header__logo">
    <a routerLink="/" title="{{title}}" class="header__logo_link"></a>
</div>
<div class="header__sighup">
    <div class="login__content">
        <i class="icon"></i>
        <a class="login__link" [routerLink]="['login']" *ngIf="!userAvailable">Log In</a>
        <div class="login__user" *ngIf="userAvailable">
            Hello,
            {{user.first}}
            {{user.last}}
        </div>
    </div>
    <div class="logout__content">
        <i class="icon"></i>
        <a title="Sigh out" class="logout__link" (click)="logout()">Log off</a>
    </div>
</div>
