@import "variables";
@import "mixin";

.button {
  &__content {
    display: flex;
    margin-bottom: 12px;
  }
  &__add-course{
    margin-left: auto;

    @include button(middle, $dark-sky-blue, true);

    .one, .two {
      border-radius: 1px;
      width: 2px;
      height: 16px;
      background: $white;
      display: block;
      position: absolute;
    }

    .two {
      transform: rotate(90deg);
    }

    .icon {
      top: 10px;
      left: 25px;
    }
  }
}
