@import "variables";

.breadcrumbs {
  background: $white;
  height: 64px;
  display: flex;
  align-items: center;

  &__content {
    width: $main-size;
    margin: 0 auto;
  }

  &__page {
    color: $dark;
    font-weight: 600;
  }
}
