@import "variables";

.breadcrumbs {
  background: $white;
  height: 64px;
  display: flex;
  align-items: center;

  &__content {
    width: $main-size;
    margin: 0 auto;
  }

  &__page {
      &_tile,
      &_link {
          color: $strong-grey;
          text-decoration: none;

          &:hover {
              text-decoration: underline;
          }

          &:last-child {
              color: $black;
              font-weight: 600;
              &:hover {
                  text-decoration: none;
              }
          }
      }
      &_separator {
          color: $dark-sky-blue;
          padding: 0 5px;
          text-decoration: none;
      }
  }
}
