@import "variables";

.logout {
    &__content {
        position: relative;
        padding-left: 20px;
        height: 18px;
        margin-top: 23px;

        .icon {
            position: absolute;
            width: 16px;
            height: 16px;
            left: 0;
            background-color: $white;
            mask-image: url("#{$iconLink}/sign-out-alt.svg");
            mask-position: 0 0;
            mask-repeat: no-repeat;
        }
    }

    &__link {
        color: $white;
        text-decoration: none;
    }
}
