<div class="dialog__header">
    <div class="dialog__title">Delete course?</div>
    <i class="dialog__icon" mat-dialog-close>
        <span class="one"></span>
        <span class="two"></span>
    </i>
</div>
<div class="dialog__content">
    <p>Are you sure you want to delete</p>
    <strong>{{data.name}}?</strong>
</div>
<div class="dialog__actions">
    <button class="dialog__button" mat-dialog-close>Cancel</button>
    <button class="dialog__button_submit" [mat-dialog-close]="data.id">Yes, delete</button>
</div>
