<div class="dialog__header">
    <div class="dialog__title">{{'courses.dialogLabelDeleteTitle' | translate}}</div>
    <i class="dialog__icon" mat-dialog-close>
        <span class="one"></span>
        <span class="two"></span>
    </i>
</div>
<div class="dialog__content">
    <p>{{'courses.dialogDeleteDescription' | translate}}</p>
    <strong>{{data.name}}?</strong>
</div>
<div class="dialog__actions">
    <button class="dialog__button" mat-dialog-close>{{'courses.cancelButton' | translate}}</button>
    <button class="dialog__button_submit" [mat-dialog-close]="data.id">{{'courses.deleteDialogButton' | translate}}</button>
</div>
