@import "variables";
@import "mixin";

.suggester {
    &__input {
        @include input(34px, $gum: true);
        padding: 2px;
        flex: 0 100%;

        &_hidden {
            border: 0;
        }
    }
}

