@import "variables";
@import "mixin";

.courses {
  &__content {
    width: $main-size;
    margin: 0 auto;

    &_load-more-link {
      display: block;
      text-align: center;
      text-transform: uppercase;
      height: 48px;
      margin: 24px 0;
      line-height: 48px;
      color: $soft-blue;
      font-size: 12px;
      cursor: pointer;
      text-decoration: underline;

      @include panel;
    }
  }

  &__list-empty {
    @include panel;

    display: block;
    text-align: center;
    text-transform: uppercase;
    height: 48px;
    margin-top: 24px;
    line-height: 48px;
  }

  &__button {
    margin-bottom: 12px;
    text-align: right;
  }

  &__add-course {
    margin-left: auto;
    display: inline-block;
    text-decoration: none;

    @include button(middle, $dark-sky-blue, true);

    .one, .two {
      border-radius: 1px;
      width: 2px;
      height: 16px;
      background: $white;
      display: block;
      position: absolute;
    }

    .two {
      transform: rotate(90deg);
    }

    .icon {
      top: 10px;
      left: 25px;
    }
  }
    &__upper_container {
        display: flex;
        justify-content: space-between;
    }
    &__languages {
        @include input(36px);
    }
}
