<app-search></app-search>

<div class="courses__content">
  <div class="courses__button">
    <a class="courses__add-course" [routerLink]="['add-course']">
      <i class="icon">
        <span class="one"></span>
        <span class="two"></span>
      </i>
      Add course
    </a>
  </div>
  <div class="courses__list" *ngIf="dataIsAvailable">
    <app-course-item
            *ngFor="let courseListItem of courseList | orderBy: 'date'"
            [courseListItem]="courseListItem"
            (deleteCourse)="openDeleteDialog($event)"
    ></app-course-item>

    <a title="Load More Button" class="courses__content_load-more-link" [routerLink]="['/']" [queryParams]="{page: page}"
       (click)="loadMoreHandler()">
      Load More
    </a>
  </div>
  <div class="courses__list-empty" *ngIf="!dataIsAvailable">
    NO DATA. FEEL FREE TO ADD NEW COURSE
  </div>
</div>


