@import "variables";
@import "mixin";

.add-course {
    &__date,
    &__duration {
        width: 180px;
        position: relative;
    }
    &__suggester {
        width: 310px;
        position: relative;
    }

    &__flex {
        display: flex;
    }
    &__wrapper {
        width: $main-size;
        margin: 0 auto;
        height: calc(100vh - 128px);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__container {
        @include panel;

        padding: 25px;
        width: 730px;
        box-sizing: border-box;
    }

    &__content {
        padding-top: 13px;
    }

    &__input {
        @include input(34px);
    }

    &__textarea {
        @include input(auto);

        resize: vertical;
        min-height: 100px;
        padding: 12px;
    }

    &__form {
        &_label,
        &_title {
            display: flex;
        }
        &_label {
            flex-direction: column;
            margin-top: 12px;
        }

        &_title {
            justify-content: space-between;
            margin-bottom: 9px;
            line-height: 17px;
        }

        &_name {
            color: $slate-grey;
            font-weight: 600;
        }
        &_warn {
            font-size: 12px;
            color: $battleship-grey;
        }
    }

    &__actions {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-top: 25px;
    }

    &__link {
        color: $soft-blue-two;
        font-size: 12px;
        margin-left: 10px;
    }

    &__button {
        &_cancel {
            @include button(middle, $default-button-grey, false, $slate-grey);
            margin-right: 15px;
        }

        &_save {
            @include button(middle, $sick-green, false, $white);
        }

        &[disabled] {
            cursor: not-allowed;
            color: $strong-grey;
        }
    }

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__error {
        font-size: 12px;
        color: $red;
        flex: 0 70%;
        text-align: right;
    }
}
