<div class="add-course__wrapper">
    <div class="add-course__container">
        <div class="add-course__header">
            <h2>New course</h2>
        </div>

        <div class="add-course__content">
            <form action="" class="add-course__form" [formGroup]="courseForm" (ngSubmit)="courseFormSubmit()" [ngClass]="{'error': courseForm.invalid && (courseForm.dirty || courseForm.touched)}">
                    <label class="add-course__form_label"
                           [ngClass]="{'error-spec': courseForm.get('name').errors?.maxlength}">
                        <span class="add-course__form_title">
                            <span class="add-course__form_name">Title:</span>
                            <span class="add-course__form_warn">*required</span>
                        </span>
                        <span class="error-message">Should be maximum 50 characters</span>
                        <input type="text" placeholder="Course title" class="add-course__input" formControlName="name"/>
                    </label>
                    <label class="add-course__form_label"
                           [ngClass]="{'error-spec': courseForm.get('description').errors?.maxlength}">
                        <span class="add-course__form_title">
                            <span class="add-course__form_name">Description:</span>
                            <span class="add-course__form_warn">*required</span>
                        </span>
                        <span class="error-message">Should be maximum 500 characters</span>

                        <textarea class="add-course__textarea" formControlName="description"></textarea>
                    </label>
                    <label class="add-course__form_label add-course__duration"
                           [ngClass]="{'error-spec': courseForm.get('length').errors?.pattern}">
                        <span class="add-course__form_title">
                            <span class="add-course__form_name">Duration:</span>
                            <span class="add-course__form_warn">*required</span>
                        </span>
                        <span class="error-message">should be only numbers in minutes e.g. 120</span>
                        <app-duration [duration]="duration" [error]="courseForm.get('length').errors" [formControl]="courseForm.get('length')"></app-duration>
                    </label>
                    <label class="add-course__form_label add-course__date">
                        <span class="add-course__form_title">
                            <span class="add-course__form_name">Date:</span>
                            <span class="add-course__form_warn">*required</span>
                        </span>
                        <span class="error-message">Should be set date by datepicker or in proper format e.g. 1/11/2020</span>
                        <app-date [existingDate]="existingDate" [formControl]="courseForm.get('date')"></app-date>
                    </label>
                    <label class="add-course__form_label add-course__suggester">
                    <span class="add-course__form_title">
                        <span class="add-course__form_name">Author:</span>
                        <span class="add-course__form_warn">*required</span>
                    </span>
                        <app-suggester class="add-course__flex"></app-suggester>
                    </label>
                    <div class="add-course__actions">
                        <button class="add-course__button_cancel" (click)="courseFormCancel()">Cancel</button>
                        <button class="add-course__button_save" [disabled]="!courseForm.valid" (click)="courseFormSubmit()">Save</button>
                    </div>
            </form>
        </div>
    </div>
</div>
